---
import Layout from "../layouts/Layout.astro";
import "../globals.css";
import ProjectCard from "@/components/ProjectCard.astro";
import { Button } from "@/components/ui/button";
---

<Layout title="Portfolio">
    <main
        class="flex flex-col w-full lg:w-4/5 bg-secondary h-auto justify-center items-center p-10 gap-3"
    >
        <div class="w-full flex items-center justify-start">
            <a href="/">
                <Button size="sm" variant="outline" className="gap-1">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-arrow-back"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"
                        ></path>
                        <path d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1"
                        ></path>
                    </svg>
                     Regresar
                </Button>
            </a>
        </div>
        <div class="flex flex-col justify-center items-start w-full gap-3">
            <span
                class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl"
                >Nombre</span
            >
            <p
                class="scroll-m-20 text-2xl font-semibold tracking-tight text-start"
            >
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
                in
            </p>
        </div>

        <div class="w-full flex justify-center items-center">
            <ProjectCard href="#" img="tecia.png" desc="project" />
        </div>
    </main>
</Layout>
