---

---

<main class="flex flex-col w-4/5 bg-background h-full max-lg:w-full">
    <section
        id="projects"
        class="h-screen border-b w-full bg-primary flex justify-center items-center"
    >
        mis proyectos
    </section>
    <section
        id="contact"
        class="h-screen border-b w-full flex justify-center items-center"
    >
        contacto
    </section>
</main>
