---
import { Button } from "./ui/button";
---

<nav
    class="lg:hidden sticky top-0 flex justify-center items-center w-full h-20 container shadow flex-wrap bg-background z-10"
>
    <div class="w-full text-xl font-medium flex justify-center items-center">
        <h1>
            Hi, i‘m
            <span class="line-through text-xl">
                <b>Gonzalo Chalé,</b>
            </span>
             a.k.a
            <b class="text-xl">Gonzrr</b>
        </h1>
    </div>
</nav>
