---
import ProjectCard from "./ProjectCard.astro";
---

<main
    class="w-full lg:w-4/5 border h-auto flex justify-center items-center flex-col"
>
    <section
        class="w-full flex flex-wrap h-screen justify-center items-center border-b bg-secondary"
    >
        <div class="w-1/2">
            <a href="/tecia" class="w-1/2 max-lg:w-4/5">
                <ProjectCard img="tecia.png" desc="tecia" />
            </a>
        </div>
    </section>
</main>
